*~
*.DS_Store
*.pyc
*.pdf
*.png
source/spectra/*/*.csv
source/chisquare/*/*.csv
source/mcmcRuns/*/*/*.pic
source/mcmcRuns/*/*.pic
source/cleaned_tser/*/*.txt
source/centroids/*.fits
source/tser_data/phot/*.fits
source/allk1255_phot.py
source/nohup.out
source/parameters/phot_param_2016_06_12.yaml
source/parameters/phot_param_2016_06_14.yaml
source/parameters/phot_param_2016_07_12.yaml
source/parameters/phot_param_2016_07_14.yaml
source/parameters/phot_param_2016_07_16.yaml
source/parameters/reduction_parameters_all_kic1255.yaml
source/tser_data/refcor_phot/*.fits
source/tser_data/best_fit_models/kic1255/kic1255_best_fit*.csv
source/mcmcRuns/k1255_mod/kuiper/old_mcmc/
source/tser_data/phot/old/
source/tser_data/phot/backups/
source/tser_data/phot/phot_w_constant_aperture/
source/tser_data/phot/phot_w_variable_aperture/
source/parameters/backup_param/
