*~
*.DS_Store
*.pyc
*.pdf
*.png
tshirt/plots/photometry/interactive/*.html
tshirt/plots/spectra/interactive/*.html
tshirt/spectra/*/*.csv
tshirt/chisquare/*/*.csv
tshirt/mcmcRuns/*/*/*.pic
tshirt/mcmcRuns/*/*.pic
tshirt/cleaned_tser/*/*.txt
tshirt/centroids/*.fits
tshirt/tser_data/phot/*.fits
tshirt/allk1255_phot.py
tshirt/nohup.out
tshirt/parameters/phot_param_2016_06_12.yaml
tshirt/parameters/phot_param_2016_06_14.yaml
tshirt/parameters/phot_param_2016_07_12.yaml
tshirt/parameters/phot_param_2016_07_14.yaml
tshirt/parameters/phot_param_2016_07_16.yaml
tshirt/parameters/phot_params/lbt/bixel_example/
tshirt/parameters/reduction_parameters_all_kic1255.yaml
tshirt/parameters/reduction_parameters/lbt/luci_20180913*.yaml
tshirt/parameters/reduction_parameters/lbt/redparam_luci_20180913*.yaml
tshirt/parameters/phot_params/lbt/old_superceded/
tshirt/parameters/spec_params/hst/kelt9/*.yaml
tshirt/parameters/phot_params/lbt/not_in_git/
tshirt/tser_data/refcor_phot/*.fits
tshirt/tser_data/best_fit_models/kic1255/kic1255_best_fit*.csv
tshirt/mcmcRuns/k1255_mod/kuiper/old_mcmc/
tshirt/tser_data/phot/old/
tshirt/tser_data/phot/backups/
tshirt/tser_data/phot/phot_w_constant_aperture/
tshirt/tser_data/phot/phot_w_variable_aperture/
tshirt/tser_data/spec/*.fits
tshirt/tser_data/dynamic_spec/*.fits
tshirt/tser_data/wavebin_spec/*.fits
tshirt/tser_data/saved_profiles/*.fits
tshirt/tser_data/saved_weights/*.fits
tshirt/diagnostics/spec_backsub/*.fits
tshirt/diagnostics/profile_fit/*.fits
tshirt/diagnostics/variance_img/*.fits
tshirt/diagnostics/trimmed_flat/*.fits
tshirt/parameters/backup_param/
tshirt/diagnostics/phot_poly_backsub/*.fits
tshirt/diagnostics/profile_fit/ev_local_*
docs/_build/
dist/
tshirt.egg-info/
sync_plots_and_tser.sh
