*~
*.DS_Store
*.pyc
*.pdf
*.png
tser_tools/spectra/*/*.csv
tser_tools/chisquare/*/*.csv
tser_tools/mcmcRuns/*/*/*.pic
tser_tools/mcmcRuns/*/*.pic
tser_tools/cleaned_tser/*/*.txt
tser_tools/centroids/*.fits
tser_tools/tser_data/phot/*.fits
tser_tools/allk1255_phot.py
tser_tools/nohup.out
tser_tools/parameters/phot_param_2016_06_12.yaml
tser_tools/parameters/phot_param_2016_06_14.yaml
tser_tools/parameters/phot_param_2016_07_12.yaml
tser_tools/parameters/phot_param_2016_07_14.yaml
tser_tools/parameters/phot_param_2016_07_16.yaml
tser_tools/parameters/reduction_parameters_all_kic1255.yaml
tser_tools/tser_data/refcor_phot/*.fits
tser_tools/tser_data/best_fit_models/kic1255/kic1255_best_fit*.csv
tser_tools/mcmcRuns/k1255_mod/kuiper/old_mcmc/
tser_tools/tser_data/phot/old/
tser_tools/tser_data/phot/backups/
tser_tools/tser_data/phot/phot_w_constant_aperture/
tser_tools/tser_data/phot/phot_w_variable_aperture/
tser_tools/parameters/backup_param/
build/
dist/
tser_tools.egg-info/
